body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(231, 85, 85);
}

.yellow{
    background-color: rgb(223, 223, 93);
}

.green{
    background-color: rgb(38, 180, 38);
}

.blue{
    background-color: rgb(75, 75, 199);
}

.gameflash{
    background-color: white;
}

.userflash{
    background-color: black;
}